*{
    margin: 0;
    padding: 0;
}

/*TYPOGRAFI*/
h1{ /*Overskrift på siderne*/
    text-align: center;
    padding: 2.5%;
    font-size: 300%;
    color: rgba(49, 107, 64, 1);
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
}

h2{/*Underoverskifter*/
    text-align: center;
    padding: 2.5%;
    font-size: 300%;
    font-family: 'Cabin', sans-serif;
}

h4{/*Tekst Oplevelser*/
    width: auto;
    padding-top: 3%;
    padding-right: 20%;
    padding-left:20%;
    margin-bottom: 2%;
    font-family: 'Oxygen', sans-serif;
    font-weight: 550;
    font-size: larger;
    line-height: 170%;
}

p{/*Infortekst artiklerne*/
    font-family: 'Oxygen', sans-serif; 
    font-size: 120%;
    line-height: 170%;
    padding-right: 15%;
    padding-left:15%;
}

a{
    text-decoration: none;
}

/*HEADER*/
header{
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(49, 107, 64, 1);
    border: solid rgba(196, 51, 50, 1) bottom 10Mpx;
    align-items: center;
    justify-content: right;
    height: 60px;
    padding: 1.5%;
    display: flex;
}
nav{
    display:flex;
    margin-right: 5%;
}
nav a{
    display: flex;
    padding-right: 6%;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 150%;
    color: rgba(49, 107, 64, 1);
}
nav a:hover{
    text-decoration: underline;
}
#logo{
    width: 8%;
    margin-top: 0.5%;
    padding-right:0%;
    position: absolute;
    left: 4%;
    top: 1%;
}

/*MAIN*/
/*Øverst index*/
#titleindex{ /*grundform1*/
    height: fit-content;
    background-color: white;
}
#øversteindex{
    padding-bottom: 3%;
}
#øversteindex a:hover{
    text-decoration: underline;
}
#topbane{
    width: 60%;
    position: relative;
    left:18%;
    top: 0;
    z-index:-1;
    margin-top: 3%;
    margin-bottom: 3%;
}
.væddeløbsbane{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color:  rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
}
.staldene{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
}
.madogdrikke{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
}
.tribune{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
}
.legeplads{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
}
#knap{
    justify-content: center;
}
.væddeløbsbaneto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color:  rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
}
.staldeneto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
}
.madogdrikketo{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
}
.tribuneto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
}
.legepladsto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
}

/* Midte på Index*/
.mainfeed{
    display:block;
}
.oplevelse{
    background-color: rgba(173, 162, 142, 1);
    display:flex;
    height:1000px;
}
.første{
    width:40%;
    height: fit-content;
    text-align: center;
    position: relative;
    left: 3%;
    top: 20%;
    line-height: 25px;
    background-color: blue;
    display: block;
}
.anden{
    position: relative;
    right: 50%;
    left:50%;
    background-color: blue;
}
.cirkel{
    background-color: rgba(245, 190, 66, 1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color:  rgba(49, 107, 64, 1);
    border-width: 3px;
    position: relative;
    left:21%;
    top: 2%;
    z-index: 1;
}
.streg{
    background-color: rgba(245, 190, 66, 1);
    width: 30px;
    height: 1000px;
    border-style: solid;
    border-color: rgba(49, 107, 64, 1);
    border-width: 3px;
    position: relative;
    left:62%;
    top: 1%;
}
.tredje{
    width:40%;
    height: fit-content;
    text-align: center;
    position: relative;
    left: 3%;
    top: 40%;
    line-height: 25px;
    background-color: blue;
    display: block;
}
.oplevelsesbilleder{
    width: 80%;
    margin-top: 5%;
}
.læsmere{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 20px;
    padding: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: large;
    margin-bottom: 5%;
}

/*MAIN ARTIKEL*/
/*øverst*/
#topbanesite{
    width: 70%;
    position: relative;
    left:13%;
    top: 0;
    z-index:-1;
    margin-top: 3%;
    margin-bottom: 3%;
}
.overskriftet{
    text-transform: uppercase;
    background-color: white;
    position:absolute;
    top: 80%;
    left: 30%;
    border-radius:15px;
}
.overskriftto{
    text-transform:inherit;
    position:absolute;
    top: 88%;
    left: 38%;
    border-radius:15px;
    color: rgba(49, 107, 64, 1);
    font-family: 'Cabin', sans-serif;
    font-size: 200%;
}
/*content*/
.info{
    color: black;
    text-align: left;
    padding-top: 85px;
    font-size: 150%;
}
.infoto{
    color: black;
    text-align: left;
    font-size: 150%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.bokstokol h2{
    color: white;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
}
.bokstokol p{
    padding-top: 3%;
    padding-bottom: 6%;
    color: white;
    text-align: center;
}
/*boks*/
.bokstokol{
    background-color:rgba(49, 107, 64, 1);
    display:flex;
    text-align: center;
    align-items: center;
}
.bokstokol img{
    width: fit-content;
}

#galop{
    width: 50%;
    text-align: center;
}
#trav{
    width:50%;
    text-align: center;
}

/*FOOTER*/
footer{
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(49, 107, 64, 1);
    border: solid rgba(196, 51, 50, 1) 1px;
    justify-content: right;
    align-items: center;
    height: fit-content;
    padding: 1.5%;
    height: 300px;
}
#logofooter{
    width: 20%;
    margin-top: 0.5%;
    position: absolute;
    left: 4%;
}
#nav{
    height: 300px;
    width: 400px;
    position: absolute;
    right: 4%;
}

/*Laptop layout:*/
@media screen and (min-width:768px) {
    .væddeløbsbane{
        position: absolute;
        left: 7%;
        top: 45%;
    }
    .staldene{
        position: absolute;
        left: 15%;
        top: 83%;
    }
    .madogdrikke{
        position: absolute;
        right: 7%;
        top: 45%;
    }
    .tribune{
        position: absolute;
        right:41.5%;
        top: 29%;
    }
    .legeplads{
        position: absolute;
        right: 15%;
        top: 83%;
    }
    #knap{
        display:none;
    }
}

/*Større breakpoint laptop:*/
@media screen and (max-width:1060px){
    .bokstokol{
        display:block;
    }
    #galop{
        width: 100%;
    }
    #trav{
        width: 100%;
    }
    #topbanesite{
        margin-top: 5%;
    }
    .overskriftet{
        position:unset;
    }
    .overskriftto{
        position: unset;
    }
    .info{
        padding-top: 10px;
    }
    .bokstokol p{
        padding-top: 0%;
    }
    #logofooter{
        position: unset;
        padding-left: 5%;
        padding-top: 5%;
    }
    #øverstindex{
        display:none;
    }
    #knap{
        display:block;
    }

}

/*Mellem breakpoint laptop:*/
@media screen and (max-width:875px) {
    #topbane{
        display:none;
    }
}

/*Mobil layout:*/
@media screen and (max-width:768px){
    #topbane{
        display:none;
    }
    .væddeløbsbane{
        position: absolute;

    }
}