*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*TYPOGRAFI*/
h1{ /*Overskrift på siderne*/
    text-align: center;
    padding: 2.5%;
    font-size: 300%;
    color: rgba(49, 107, 64, 1);
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
}

h2{/*Underoverskifter*/
    text-align: center;
    padding: 2.5%;
    font-size: 300%;
    font-family: 'Cabin', sans-serif;
}

h4{/*Tekst Oplevelser*/
    width: auto;
    padding-top: 3%;
    padding-right: 20%;
    padding-left:20%;
    margin-bottom: 2%;
    font-family: 'Oxygen', sans-serif;
    font-weight: 550;
    font-size: larger;
    line-height: 170%;
}

p{/*Infortekst artiklerne*/
    font-family: 'Oxygen', sans-serif; 
    font-size: 120%;
    line-height: 170%;
    padding-right: 15%;
    padding-left:15%;
}

a{
    text-decoration: none;
}

/*HEADER*/
header{
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(49, 107, 64, 1);
    border: solid rgba(196, 51, 50, 1) bottom 10Mpx;
    align-items: center;
    justify-content: right;
    height: 60px;
    padding: 1.5%;
    display: flex;
}
nav{
    display:flex;
    margin-right: 5%;
}
nav a{
    display: flex;
    padding-right: 6%;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 150%;
    color: rgba(49, 107, 64, 1);
}
nav a:hover{
    text-decoration: underline;
}
#logo{
    width: 8%;
    margin-top: 0.5%;
    padding-right:0%;
    position: absolute;
    left: 4%;
    top: 1%;
}


/*MAIN*/
/*Øverst index*/
#titleindex{ /*grundform1*/
    height: fit-content;
    background-color: white;
}
#øversteindex{
    padding-bottom: 3%;
}
#øversteindex a:hover{
    text-decoration: underline;
}
#topbane{
    width: 60%;
    position: relative;
    left:18%;
    top: 0;
    z-index:-1;
    margin-top: 3%;
    margin-bottom: 3%;
}
.væddeløbsbane{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color:  rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    transition-duration: 350ms;
}
.væddeløbsbane:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.staldene{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    transition-duration: 350ms;
}
.staldene:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.madogdrikke{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    transition-duration: 350ms;
}
.madogdrikke:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.tribune{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    transition-duration: 350ms;
}
.tribune:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.legeplads{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    transition-duration: 350ms;
}
.legeplads:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
#knap #rækkeet, #rækketo{
    justify-content: center;
    text-align: center;
}
.væddeløbsbaneto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color:  rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 150%;
    margin: 1%;
    transition-duration: 350ms;
}
.væddeløbsbaneto:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.staldeneto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
    transition-duration: 350ms;
}
.staldeneto:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.madogdrikketo{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
    transition-duration: 350ms;
}
.madogdrikketo:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.tribuneto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
    transition-duration: 350ms;
}
.tribuneto:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}
.legepladsto{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 25px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 300px;
    margin: 1%;
    transition-duration: 350ms;
}
.legepladsto:hover{
    background-color: rgba(196, 51, 50, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(196, 51, 50, 1);
    border-color: rgba(196, 51, 50, 1);
}

/* Midte på Index*/
/*Første oplevelse*/
.mainfeed{
    display:block;
}
.oplevelse{
    background-color: rgba(173, 162, 142, 1);
    display:flex;
    height:1100px;
}
#første{
    width:40%;
    height: fit-content;
    text-align: center;
    position: relative;
    left: 3%;
    top: 10%;
    line-height: 25px;
    display: block;
}
.anden{
    position: relative;
    right: 50%;
    left:50%;
    background-color: blue;
}
.cirkel{
    background-color: rgba(245, 190, 66, 1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color:  rgba(49, 107, 64, 1);
    border-width: 3px;
    position: relative;
    left:21%;
    top: 2%;
    z-index: 1;
}
.streg{
    background-color: rgba(245, 190, 66, 1);
    width: 30px;
    height: 1000px;
    border-style: solid;
    border-color: rgba(49, 107, 64, 1);
    border-width: 3px;
    position: relative;
    left:62%;
}
.oplevelsesbilleder{
    width: 80%;
    margin-top: 5%;
}
.læsmere{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 30px;
    padding: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 3%;
    text-transform: uppercase;
    color: rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: large;
    margin-bottom: 3%;
    width: 50%;
    transition-duration: 350ms;
}
.læsmere:hover{
    background-color: rgba(49, 107, 64, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(49, 107, 64, 1);
    
}
#tredje{
    width:40%;
    height: fit-content;
    text-align: center;
    position: relative;
    left: 3%;
    top: 35%;
    line-height: 25px;
    display: block;
}
/*Anden oplevelse*/
#førsteto{
    width:40%;
    height: fit-content;
    text-align: center;
    position: relative;
    left: 3%;
    top: -30%;
    line-height: 25px;
    display: block;
}
#tredjeto{
    width:40%;
    height: fit-content;
    text-align: center;
    position: relative;
    left: 3%;
    line-height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.stregmidt{
    background-color: rgba(245, 190, 66, 1);
    width: 30px;
    height: 900px;
    border-left: 3px solid rgba(49, 107, 64, 1);
    border-right: 3px solid rgba(49, 107, 64, 1);
    position: relative;
    left:62%;
}
.stregmidtto{
    background-color: rgba(245, 190, 66, 1);
    width: 30px;
    height: 1100px;
    border-left: 3px solid rgba(49, 107, 64, 1);
    border-right: 3px solid rgba(49, 107, 64, 1);
    position: relative;
    left:355%;
}
.cirkelmidt{
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    border-width: 3px;
    position: relative;
    left:21%;
    top: 2%;
    z-index: 1;
}
/*Tredje oplevelse*/
.oplevelseslut{
    background-color: rgba(173, 162, 142, 1);
    display:flex;
    height:230px;
}
#førstetre{
    width:40%;
    height: fit-content;
    text-align: center;
    position: relative;
    left: 3%;
    top: -250%;
    line-height: 25px;
    display: block;
}
.tredjetre{
    width:40%;
    height: fit-content;
    position: relative;
    left: 3%;
    top: 5%;
    line-height: 25px;
    background-color: transparent;
    display: block;
}
.stregslut{
    background-color: rgba(245, 190, 66, 1);
    width: 30px;
    height: auto;
    border-left: 3px solid rgba(49, 107, 64, 1);
    border-right: 3px solid rgba(49, 107, 64, 1);
    position: relative;
    left:62%;
}
.cirkelslut{
    background-color: rgba(245, 190, 66, 1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color:  rgba(49, 107, 64, 1);
    border-width: 3px;
    position: relative;
    left:21%;
    top:-100%;
    z-index: 1;
}

#udforskknap{
    background-color: rgba(173, 162, 142, 1);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.udforsk{
    background-color: rgba(245, 190, 66, 1);
    border-style: solid;
    border-radius:15px;
    border-color:rgba(49, 107, 64, 1);
    line-height: 40px;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    color:  rgba(49, 107, 64, 1);
    font-family: 'Oxygen', sans-serif;
    font-weight:bolder;
    font-size: 150%;
    width: 600px;
    margin: 1%;
}

/*MAIN ARTIKEL*/
/*øverst*/
#topbanesite{
    width: 70%;
    position: relative;
    left:13%;
    top: 0;
    z-index:-1;
    margin-top: 3%;
    margin-bottom: 3%;
}
.overskriftet{
    text-transform: uppercase;
    border-radius:15px;
    margin-top: -3%;
    margin-bottom: -3%;
}
.overskriftto{
    text-transform:inherit;
    color: rgba(49, 107, 64, 1);
    font-family: 'Cabin', sans-serif;
    font-size: 200%;
    margin-top: -3%;
    margin-bottom: -3%;
}
/*content*/
.info{
    color: black;
    text-align: left;
    padding-top: 60px;
    font-size: 150%;
}
.infoto{
    color: black;
    text-align: left;
    font-size: 150%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.infobilled{
    padding-bottom: 5%;
    height: 350px;
}
#videreknap{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
/*boks to billeder*/
.bokstokol h2{
    color: white;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
}
.bokstokol p{
    padding-top: 3%;
    padding-bottom: 6%;
    color: white;
    text-align: center;
}
.bokstokol{
    background-color:rgba(49, 107, 64, 1);
    display:flex;
    text-align: center;
    align-items: center;
}
.bokstokol img{
    width: fit-content;
}
#galop{
    width: 50%;
    text-align: center;
}
#trav{
    width:50%;
    text-align: center;
}
/*boks et billed og tekst type 1*/
.boksto{
    background-color:rgba(173, 162, 142, 1);
    display:flex;
    text-align: center;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
    background-blend-mode: multiply black;
}
#tekst{
    width: 50%;
    text-align: center;
}
#billed{
    width: 50%;
}
.boksto h2{
    color: black;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    position: relative;
    z-index: 1;
    display:inline-block;
    margin-bottom: 1rem;
}
.boksto h2::after{
    content: '';
    position: absolute;
    top:-0.25rem;
    left:-2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background-color: blanchedalmond;
    z-index: -1;
    transform: scaleX(0.06);
    transform-origin: left;
    transition: transform 250ms ease-in;
}
.boksto h2:hover .boksto h2::after{
    transform: scaleX(1);
}
.boksto h3{
    color: black;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
}
.boksto p{
    padding-top: 1%;
    padding-bottom: 2%;
    color: transparent;
    text-align: left;
    position: relative;
    margin: 0;
    z-index: 1;
    transition: color 150ms;
    transition-delay: 350ms;
}
.boksto p::after{
    content: '';
    position: absolute;
    top:-0.75rem;
    bottom:-0.75rem;
    left: -0.75rem;
    right:-0.75rem;
    background-color: aquamarine;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 250ms ease-in;
    transform-origin: top;
    transition-delay: 250ms;
}
.boksto p:hover .boksto p{
    color: black;
}
.boksto p:hover .boksto p::after{
    transform: scaleY(1);
}
/*boks et billede og tekst type 2*/
.bokstoomvendt{
    background-color:rgba(49, 107, 64, 1);
    display:flex;
    text-align: center;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
}
#tekst{
    width: 50%;
    text-align: center;
}
#billed{
    width: 50%;
}
.bokstoomvendt h2{
    color:white;
    text-transform: uppercase;
}
.bokstoomvendt h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
}
.bokstoomvendt p{
    padding-top: 1%;
    padding-bottom: 2%;
    color: white;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
}
/*boks med tekst og billed i midten*/
.bokstobilled{
    background-color:rgba(49, 107, 64, 1);
    padding-top:2%;
    padding-bottom: 2%;
}
.bokstobilled h2{
    color:white;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
}
.bokstobilled p{
    color: white;
    text-align: center;
}
#indhold{
    width: 100%;
    text-align: center;
}
/*billedkollage*/
.billedkollage{
    background-color:rgba(49, 107, 64, 1);
    display:flex;
    text-align: center;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
}
.billedkollage img{
    margin-left: auto;
    margin-right: auto;
}
#kollage{
    width: 100%;
}
.billedkollage h2{
    padding-top: 3%;
    color: white;
    text-align: center;
}

/*MAIN Information*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 3%;
}
th{
    font-family: 'Cabin', sans-serif;
    line-height: 50px;
    font-size: 140%;
}
td{
    font-family: 'Oxygen', sans-serif;
    line-height: 30px;
    font-size:110%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color:rgba(173, 162, 142, 0.75);
}
tr:nth-child(odd) {
    background-color:rgba(245, 190, 66, 0.75);
}

/*FOOTER*/
footer{
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(49, 107, 64, 1);
    border: solid rgba(196, 51, 50, 1) 1px;
    justify-content: right;
    align-items: center;
    height: fit-content;
    padding: 1.5%;
    height: 300px;
    display: flex;
}
#logofooter{
    width: 20%;
    margin-top: 0.5%;
    position: absolute;
    left:0
}
#nav{
    height: 300px;
    width: 400px;
    position: absolute;
    right: 4%;
}

/*Laptop layout:*/
@media screen and (min-width:768px) {
    .væddeløbsbane{
        position: absolute;
        left: 7%;
        top: 45%;
    }
    .staldene{
        position: absolute;
        left: 15%;
        top: 83%;
    }
    .madogdrikke{
        position: absolute;
        right: 7%;
        top: 45%;
    }
    .tribune{
        position: absolute;
        right:41.5%;
        top: 29%;
    }
    .legeplads{
        position: absolute;
        right: 15%;
        top: 83%;
    }
    #knap{
        display:none;
    }
    .laptopbilled{
        display: block;
    }
    .mobilbilled{
        display:none;
    }
}

/*Større breakpoint laptop:*/
@media screen and (max-width:1060px){
/*Header*/
    nav a{
        font-size: 100%;
    }
/*Øverst index*/
    #øverstindex{   
        display:none;
    }
    h1{
        font-size: 200%;
    }
    h2{
        font-size: 150%;;
    }
    #knap{
        display:block;
    }
    .væddeløbsbaneto, .staldeneto, .madogdrikketo, .tribuneto, .legepladsto{
        width: auto;
        height: fit-content;
    }
    .oplevelse{
        height: fit-content;
        align-items: center;
    }
    .oplevelseslut{
        height: fit-content;
        align-items: center; 
    }

/*indhold index*/
.stregmidt, .stregmidtto, .stregslut, .cirkel, .cirkelmidt, .cirkelslut{
    display:none;
}
#første, .tredje, .førsteto, .tredjeto, .førstetre, .tredjetre{
    position: unset;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.væddeløbsbaneto, .staldeneto, .madogdrikketo, .tribuneto, .legepladsto{
    font-size:125%;
}
/*Artikel*/
    #topbanesite{
    margin-top: 5%;
    }
    .infoto{
    font-size: 110%;
    }
    .info{
    font-size:110%;
    padding-top: 10px;
    }
/*Bokse*/
    .bokstokol{
        display:block;
    }
    .bokstokol p{
        padding-top: 0%;
    }
    #galop{
        width: 100%;
    }
    #trav{
        width: 100%;
    }
    .bokstoomvendt{
        display:block;
    }
    .boksto{
        display:block;
    }
    #tekst{
        width: 100%;
    }
    #billed{
        width: 100%;
    }
    .laptopbilled{
        display:none;
    }
    .mobilbilled{
        display: block;
    }
/*footer*/
    #logofooter{
    padding-left: 5%;
    padding-top: 5%;
    }
}

/*Mellem breakpoint laptop:*/
@media screen and (max-width:875px) {
    #topbane{
        display:none;
    }
/*Main Index*/
    .oplevelse{
        display: block;
        height:fit-content;
    }
    .oplevelseslut{        
        display: block;
        height:fit-content;
        padding-top: 20%;
    }
    .udforsk{
        width: 60%;
        font-size: 100%;
    }
    h4{
        font-size:small;
    }
}

/*Mobil layout:*/
@media screen and (max-width:768px) {
    #topbane{
        display:none;
    }
    .væddeløbsbane{
        position: absolute;

    }
    .væddeløbsbaneto, .staldeneto, .madogdrikketo, .tribuneto, .legepladsto{
        font-size:100%;
    }
    .oplevelseslut{
        padding-top: 0%;
    }
}